html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family : "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important
}

#nav {
	
}

#logo_bar{
	color : #005580;
	font-weight : bold;
}

/* Wrapper for page content to push down footer */
#wrap {
  /*min-height: 100%;*/
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0px auto -40px;
  padding: 40px 0 40px 0;
  *padding-top:60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
  /*padding-top : 20px;*/
}
#footer {
  background-color: rgb(13, 55, 83);
  position:fixed;
  left:0;right:0;bottom:0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  /*margin: 20px 0;*/
  margin-top:10px;
}

code {
  font-size: 80%;
}

.index-banner {
    background: url("../images/pat.png?v=3.2.19") repeat scroll center top #58B454;
    color: #FFFFFF;
    height: 250px;
    text-align: center;
}

.index-banner .index-banner-inner{
    margin: 0 auto;
    width: 980px;
}

.index-banner .index-banner-inner .index-banner-title{
    font-weight: normal;
    margin: 0;
    padding: 140px 0 50px;
    font-size: 50px;
    color: #fefefe
  }

ul.index-list{
    margin: 0 auto;
    width: 900px;
}
ul.index-list:after{clear:both;content: "";display: table;}
ul.index-list li{
      float: left;
    font-size: 14px;
    line-height: 150%;
    padding: 45px 20px;
    text-align: center;
    width: 28%;
    list-style-type:none;
}

ul.index-list li a div{
  padding:10px 0;
}
ul.index-list li h4{
  font-size: 20px;
  font-weight: normal;
}
ul.index-list li a{
  color: #333
}
ul.index-list li a:hover{
  color: #
}