html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#nav {
	background : url("../images/header.png") repeat scroll 0 0 #4BA3E9;
}

#logo_bar{
	color : #005580;
	font-weight : bold;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  
  padding-top:60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
  padding-top : 20px;
}
#footer {
  background-color: rgb(13, 55, 83);
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

code {
  font-size: 80%;
}